@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);










#msg-box4-c .lead P {
  font-family: 'Oxygen', sans-serif;
  font-size: 21px;
}
#msg-box4-c .mbr-section-title {
  font-family: 'Oxygen', sans-serif;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
}
#msg-box4-c .mbr-section-title P {
  font-size: 23px;
  text-align: center;
}
#msg-box4-c .lead {
  color: #ffffff;
}
#msg-box4-c .mbr-section-title DIV {
  text-align: center;
}
#msg-box4-g .mbr-section-title {
  font-family: 'Oxygen', sans-serif;
  text-align: left;
}
#msg-box4-g .lead P {
  font-family: 'Oxygen', sans-serif;
  text-align: left;
}
#msg-box5-p .mbr-section-title {
  font-size: 22px;
  text-align: center;
  font-family: 'Oxygen', sans-serif;
  color: #ffffff;
}
#msg-box5-p .lead P {
  font-family: 'Oxygen', sans-serif;
  text-align: right;
}
#social-buttons1-3 .mbr-section-title {
  font-family: 'Oxygen', sans-serif;
  font-size: 20px;
  color: #ffffff;
}
#contacts2-5 DIV {
  color: #ffffff;
}
#ext_menu-6 .navbar-toggler {
  color: #ff0033;
}
#ext_menu-6 .navbar-brand {
  font-family: 'Oxygen', sans-serif;
}
#ext_menu-6 .navbar-nav .btn {
  font-family: 'Oxygen', sans-serif;
}
#ext_menu-6 .nav-link {
  font-family: 'Oxygen', sans-serif;
}
